
.sectionTitle {
  font-size: 1.3em;
  width: 90%;
  border-bottom: 2px solid;
  flex: 1;
  padding-bottom: 10px;
  margin-bottom: 1em;
}

.eventSectionContainer {
  flex: 1;
}

.sectionHeader {
  margin-top: 0.3em;
  font-size: 1em;
  margin-top: 1em;
}

.list {
  margin: 0;
}

.copy {
  font-size: 0.9em;
  margin-left: 1em;
  margin-top: 0.2em;
}
.explanation {
  font-size: 0.8em;
  margin-bottom: 0.3em;
  width: 70%;
}

.row {
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  padding-left: 3em;
  margin-bottom: 3em;
}

.eventImage {
  max-width: 40%;
  height: 18em;
  margin-right: 5em;
  margin-top: 2.5em;
}
