.userInput {
  height: 2em;
  width: 12em;
  padding-left: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1em;
}

.userInputMessage {
  height: 5em;
  width: 24.8em;
  padding-left: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1em;
}

.userFormButton {
  height: 3em;
  font-size: 1em;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
}

.datePicker: {
  height: 2em;
  width: 12em;
  padding-left: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1em;
}
.formLink {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.userForm {
}
