
.sectionContainer {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  display: -webkit-flex; /* Safari */
   -webkit-align-items: center; /* Safari 7.0+ */
  background: white;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;
}

.sectionDescription {
  padding-top: 2em;
  width: 80%;
  text-align: center;
  font-size: 18px;
}

.sectionDivider {
  width: 60%;
  height: 4px;
  background-color: #008080;
}

.sectionText {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 30px;
}
