
.sectionContainer {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  display: -webkit-flex; /* Safari */
   -webkit-align-items: center; /* Safari 7.0+ */
  background: white;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sectionDescription {
  padding-top: 1em;
  width: 60%;
  text-align: center;
}

.sectionDivider {
  width: 60%;
  height: 3px;
  background: #0099cc;
}

.sectionText {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2em;
}
