
.leftButton {
  position: relative;
  height: 50px;
  top: -10em;
  width: 50px;
  z-index: 1;
}

.rightButton {
  position: relative;
  height: 50px;
  left: 90%;
  top: -12.5em;
  width: 50px;
}

.imageList {
  align-items: row;
  width: 100%;
  padding: 0;
  margin: 0;
}

.viewPager {
  width: 90%;
  position: relative;
}

.pageIndicatorContainer {
  position: relative;
  display: flex;
  top: -10em;
  align-self: center;
  z-index: 1;
}

@-webkit-keyframes rightToLeft {
  0% {left: 0%;}
  100% {left: -100%;}
}
@-webkit-keyframes leftToRight {
  0% {left: -100%;}
  100% {left: 0%;}
}
/* Standard syntax */
@keyframes rightToLeft {
    0% {left: 0%;}
    100% {left: -100%;}
}

/* Standard syntax */
@keyframes leftToRight {
    0% {left: -100%;}
    100% {left: 0%;}
}

.rightToLeftTranslate {
  -webkit-animation-name: rightToLeft; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: rightToLeft;
  animation-duration: 1s;
}

.leftToRightTranslate {
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: leftToRight;
  animation-duration: 1s;
}
