
.sectionTitle {
  font-size: 24px;
  width: 100%;
  border-bottom: #008080 2px solid;
  padding-bottom: 10px;
  margin-bottom: 1em;
}

.eventSectionContainer {
  width: 55%;
  margin-right: 3em;
}


.copy {
  font-size: 18px;
  margin-top: 0.2em;
}

.eventRow {
  width: 90%;
  flex-direction: row;
  display: flex;
  padding-left: 3em;
  margin-bottom: 3em;
}

.eventSmallImage {
  width: 50%;
  height: 50%;
}
