
.bookOptionContainer {
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 140px;
}

.bookOptionDescription {
  font-size: 18px;
}

.bookOptionTitle {
  margin-bottom: 0.5em;
  font-size: 24px;
  border-bottom: #008080 2px solid;
  width: 100%;
}

.bookOptionCost {
  font-size: 22px;
  margin-bottom: 0.25em;
  text-align: center;
}

.bookOptionDate {
  font-size: 18px;
  margin-left: -0.50em;
  text-align: center;
  margin-bottom: 1em;
}


.bookOptionImageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookOptionDetails {
  width: 48%;
  margin-top: 2em;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
