
.navigationBar {
  flex: 1;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  padding-top: 0.5em;
}

.construction {
  width: 100%;
  background-color: red;
  text-align: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
}

.titleContainer {
  float: left;
  margin-left: 2em;
}

.title {
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-size: 1.9em;
  color: #008080;
  text-decoration: none;
}

.navList {
  padding-top: 0.8em;
}

.navItem {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1em;
  color: #008080;
  text-decoration: none;
}

.navItem a {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1em;
  color: #008080;
  text-decoration: none;
}
