
.activeCircle {
  margin-right: 1em;
  border-radius: 50%;
  height: 0.8em;
  width: 0.8em;
  background: white;
  display: inline-block;
}

.circle {
  margin-right: 1em;
  border-radius: 50%;
  height: 0.8em;
  width: 0.8em;
  background: #008080;
  display: inline-block;
  opacity: 0.7
}

.pageIndicator{
  margin: auto;
  display: flex;
  flex-direction: row;
}
